<%# add navigation links to this file %>
<li class="name"><%= link_to 'Home', root_path%></li>
<li class="name"><%= link_to 'Projects List', projects_path%></li>
<li class="name"><%= link_to 'New Project', new_project_path%></li>
<li class="name"><%= link_to 'Configuration', edit_settings_path,  title: "click to edit configuration settings"%></li>
<li class="name"><%= link_to 'Activity Log', activity_path,  title: "Show activity log" %></li>
<li class="name"><%= link_to 'About', welcome_index_path %></li>
<% if user_signed_in? %>
    <li class="name"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
<% else %>
    <li class="name"><%= link_to('Login', new_user_session_path) %></li>
<% end %>

